{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid bg-set12 mt-1">
    <div class="row text-center">

        <div class="col-md-4 col-lg-4 col-12">
            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">ABDUCTION DE HANCHE ALLONGE</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">ABDUCTION DE HANCHE MACHINE</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">BULGARIAN SPLIT SQUAT</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">CROSS OVER ROW</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">CURL BICEPS A LA BARRE</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">CURL BICEPS A LA POULIE</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">DEMI TRACTION</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">DEVELOPPPE COUCHE BARRE</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">DEVELOPPE COUCHE HALTERE</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">ECARTE FLY MACHINE</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">ECARTE FLY HALTERE</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">ECARTE FLY POULIE</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">ELEVATION LATERALE HALTERE</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">ELEVATION LATERALE POULIE</a>
            </div>

        </div>
        <div class="col-md-4 col-lg-4 col-12">
            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">EXTENSION MOLLET UNILATERAL</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">FENTE INVERSE DEPUIS UN DEFICIT</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">FRONT SQUAT</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">GLUTE KICK BACK</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">GOOD  MORNING</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">HIP THRUST</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">KICK BACK TRICEPS</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">LAT PRAYER</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">LEG CURL ALLONGE</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">LEG CURL ASSIS</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">LEG EXTENSION</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">MOLLET SMITH MACHINE</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">OHP</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">OVERHEAD SHRUG</a>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-12">
            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">OVERHEAD TRICEPS EXTENSION</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">POMPE AU SOL</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">POMPE SMITH MACHINE</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">PRESSE A CUISSE</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">REVERSE FLY</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">ROUMAN DEADLIFT (RDL)</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">ROWING BUSTE PENCHE</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">ROWING HAUT HALTERE</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">ROWING HORIZONTAL</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">SQUAT</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">TIRAGE MENTON</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">TIRAGE POITRINE</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">TRACTION</a>
            </div>

            <div class="text-boxes">
                <a href="" style="color: black;text-decoration: none;">ELEVATION LATERALE POULIE</a>
            </div>
        </div>

    </div>
</div>
{% endblock %}