{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid bg-set7">
    <div class="row text-center">
        <div class="col-md-3 col-lg-3 col-12  font-adj">Week 1</div>
        <div class="col-md-3 col-lg-3 col-12  font-adj">Week 2</div>
        <div class="col-md-3 col-lg-3 col-12  font-adj">Week 3</div>
        <div class="col-md-3 col-lg-3 col-12  font-adj">Week 4</div>
    </div>
</div>
<div class="container-fluid mt-4 mb-5">
    <div class="row text-center" style="margin: 0 auto;">
        <div class="col-md-7 col-lg-7 col-12 st-img">
            <p style="margin-top: 15%;"><b>User food plan data will come here automatically</b> </p>
        </div>
        <div class="col-md-5 col-lg-5 col-12 img-scr">
            <img src="/static/images/DSC00878-1024x684.jpg" class="st-img img-width" width="85%"
            alt="Marketing Servies Online">
        </div>
    </div>
</div>
{% endblock %}