{% extends 'base.html' %}
{% load static %}


{% block content %}

{% for item in data %}
<div class="container-fluid bg-set7">
    <div class="row text-center">
        <div class="col-md-3 col-lg-3 col-12  font-adj" data-toggle="modal" data-target="#fw1" style="cursor: pointer;">
            Week 1</div>
        <div class="col-md-3 col-lg-3 col-12  font-adj" data-toggle="modal" data-target="#fw2" style="cursor: pointer;">
            Week 2</div>
        <div class="col-md-3 col-lg-3 col-12  font-adj" data-toggle="modal" data-target="#fw3" style="cursor: pointer;">
            Week 3</div>
        <div class="col-md-3 col-lg-3 col-12  font-adj" data-toggle="modal" data-target="#fw4" style="cursor: pointer;">
            Week 4</div>
    </div>
</div>
<div class="container-fluid mt-4 mb-5">
    <div class="row text-center" style="margin: 0 auto;">
        <div class="col-md-7 col-lg-7 col-12 st-img">
            <p style="margin-top: 15%;"><b>{{ item.Food_Plan_Week_Summary }}</b> </p>
        </div>


        <div class="col-md-5 col-lg-5 col-12 img-scr">
            <img src="/static/images/DSC00878-1024x684.jpg" class="st-img img-width" width="85%"
                alt="Marketing Servies Online">
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">



            {% ifequal forloop.counter 1 %}


            <!-- Modal -->
            <div class="modal fade bd-example-modal-lg" id="fw1" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle"><strong>Week 1</strong> </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            {{ item.Food_Plan_Summary_week_one_chart|safe }}
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Modal -->
            <div class="modal fade bd-example-modal-lg" id="fw2" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle"><strong>Week 2</strong> </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            {{ item.Food_Plan_Summary_week_two_chart|safe }}
                        </div>
                    </div>
                </div>
            </div>
            
            
            <!-- Modal -->
            <div class="modal fade bd-example-modal-lg" id="fw3" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle"><strong>Week 3</strong> </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            {{ item.Food_Plan_Summary_week_three_chart|safe }}
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            
            <!-- Modal -->
            <div class="modal fade bd-example-modal-lg" id="fw4" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle"><strong>Week 4</strong> </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            {{ item.Food_Plan_Summary_week_four_chart|safe }}
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
{% endifequal %}
{% endfor %}
{% endblock %}