{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid bg-set5">
    <div class="row text-center">
        <div class="col-md-4 col-lg-4 col-12 margin-set">
            <h2 class="set-title">NOM DE L’ARTICLE</h2>
            <div class=" make-box mt-3">
                <a href="{% url 'performance' %}">
                <img src="/static/images/WhatsApp-Image-2022-01-07-at-18.31.21-600x667.jpeg" class="" width="85%"
                    alt="Marketing Servies Online" >
                  </a>
                <h2 class="recipe">Recipe</h2>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-12 margin-set">
            <div class="row text-center">

                <div class="col-md-6 col-lg-6 col-12 ">
                    <h2 class="set-title">NOM DE L’ARTICLE</h2>
                    <h2 class="recipe make-box mt-4">Recipe</h2>
                </div>

                <div class="col-md-6 col-lg-6 col-12">
                    <h2 class="set-title">NOM DE L’ARTICLE</h2>
                    <h2 class="recipe make-box mt-4">Recipe</h2>
                </div>




                <div class="col-md-6 col-lg-6 col-12 mt-5">
                    <h2 class="set-title">NOM DE L’ARTICLE</h2>
                    <h2 class="recipe make-box mt-3">Recipe</h2>
                </div>
                <div class="col-md-6 col-lg-6 col-12 mt-5">
                    <h2 class="set-title">NOM DE L’ARTICLE</h2>
                    <h2 class="recipe make-box mt-3">Recipe</h2>
                </div>




                <div class="col-md-6 col-lg-6 col-12 mt-5">
                    <h2 class="set-title">NOM DE L’ARTICLE</h2>
                    <h2 class="recipe make-box mt-3">Recipe</h2>
                </div>

                <div class="col-md-6 col-lg-6 col-12 mt-5">
                    <h2 class="set-title">NOM DE L’ARTICLE</h2>
                    <h2 class="recipe make-box mt-3">Recipe</h2>
                </div>




            </div>
        </div>
    </div>
</div>
    {% endblock %}