{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid mt-1">
    <div class="row text-center" style="margin: 0 auto;">
        <div class="col-md-6 col-lg-6 col-12 col-sm-12 set-img-box">
            google document will be here..
            <button type="button" class="btn btn-primary btn-lg btn-block comment-btn">
                <span>Comment prendre ses </span><br>
                <span>mensurations</span>
            </button>
        </div>
        <div class="col-md-6 col-lg-6 col-12 col-sm-12 set-img-box">
            <img src="/static/images/DSC01325-1026x1536.jpg" class="img-width" width="100%"
            alt="Marketing Servies Online" style="padding: 5px;">
            
        </div>
    </div>
</div>

{% endblock %}