{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid bg-set">
    <div class="row">
        <!-- The sidebar -->
        <div class="sidebar">
            <a class="active" href="{% url 'myprogram' %}">Mon programme</a>
            <a href="{% url 'shoppinglist' %}">Liste de course</a>
            <a href="{% url 'recipes' %}">Recettes</a>
            <a href="{% url 'sports' %}">Séances de sport</a>
            <!-- <a href="{% url 'motivation' %}">Motivation</a>
            <a href="{% url 'motivation' %}">Pour aller plus loin</a> -->
           
        </div>





    </div>
</div>




{% endblock %}