{% extends 'base.html' %}
{% load static %}


{% block content %}
<style>
    .sidebar{
        margin-right: 2%;
    }
    @media screen and (max-width:525px) {
        .sidebar{
        margin: 0 auto;
    }
    }
</style>
<div class="container-fluid bg-set3">
    <div class="row text-center">
        <div class="sidebar">
            <a href="{% url 'recipe_doc' %}" class="active" >Repas proche de l’entrainement</a>
            <a href="{% url 'recipe_doc' %}">Pré/Post l’entrainement</a>
            <a href="{% url 'recipe_doc' %}">En cas</a>
            <a href="{% url 'recipe_doc' %}">Petit-déjeuner</a>
            <a href="{% url 'recipe_doc' %}">Repas loin de l’entrainement</a>
            <a href="{% url 'recipe_doc' %}">Dessert</a>
       </div>

    </div>
</div>
{% endblock %}