{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid bg-set3">
    <div class="row text-center">
        <div class="sidebar">
            <a class="active" href="#home">Repas proche de l’entrainement</a>
            <a href="#news">Pré/Post l’entrainement</a>
            <a href="#contact">En cas</a>
            <a href="#about">Petit-déjeuner</a>
            <a href="#">Repas loin de l’entrainement</a>
            <a href="#">Dessert</a>
           
        </div>

    </div>
</div>
{% endblock %}