{% extends 'base.html' %}
{% load static %}


{% block content %}
<style>
    .sidebar{
        margin-right: 2%;
    }
    @media screen and (max-width:525px) {
        .sidebar{
        margin: 0 auto;
    }
    }
</style>
<div class="container-fluid bg-set3">
    <div class="row text-center">
        <div class="sidebar">
            <a class="active" href="#home">Repas proche de l’entrainement</a>
            <a href="#news">Pré/Post l’entrainement</a>
            <a href="#contact">En cas</a>
            <a href="#about">Petit-déjeuner</a>
            <a href="#">Repas loin de l’entrainement</a>
            <a href="#">Dessert</a>
           
        </div>

    </div>
</div>
{% endblock %}